.header{
height: 55px;

display: flex;

flex-direction: row;
justify-content: space-between;

position: fixed;
top:0;
left:0;
right:0;
z-index: 100;

background-color: white;
border-bottom-width:1px ;
border-bottom-style: solid;
border-bottom-color: rgb(228,228,228);

}

.left-section{
  display: flex;
  align-items: center;
}

.hamburger-menu{ 
  height: 24px; 
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
 

}

.youtube-logo{
  height: 20px;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items:center;

}
.search-bar{
  flex:1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px
  rgba(82, 163, 250, 0.05);
  width: 0;
  cursor: pointer;
}

.search-bar::placeholder { 
  font-family: Roboto, Arial;
  font-size: 16px;
  cursor: pointer;

}

.search-button
{
  height: 39px;
  width: 66px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  cursor: pointer;

}
.search-button:hover{
    background-color: rgb(235,235,235);
    height: 40px;
  }
.search-icon{
  height: 25px;
  margin-top: 4px;


}

.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245,245,245);
  cursor: pointer;
}
.voice-search-icon{
  height: 24px;
  margin-top: 4px;
}

.right-section{
  width: 180px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.upload-icons{
  height: 24px;
  cursor: pointer;

}
.youtube-apps{
  height: 24px;
  cursor: pointer;

}
.notifications{
  height: 24px;
  cursor: pointer;

}
.notifications-icon{
  position: relative;
  cursor: pointer;
}

.notifications-count{
  position: absolute;
  top: -2px;
  right: -5px;
  background-color:rgb(200,0,0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius:10px;
  cursor: pointer;
}
.my-channel{
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}